* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}

#page-wraper {
  margin-top: 80px;
  width: 100%;
}

#header ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

#header ul li a {
  text-decoration: none;
  color: black;
}

#hero {
  text-align: center;
  margin-bottom: 100px;
}

#submit {
  background-color: orange;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}

#hero #email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

.feature {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 70px;
}

.feature img {
  width: 50px;
  height: 50px;
}

.caption {
  max-width: 720px;
}
.caption h2,
.caption p {
  margin: 0;
}

#video {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 315px;
}

#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 80px;
}

.card {
  border: 1px solid black;
  text-align: center;
  width: calc(80% / 3);
}

.card h3 {
  background-color: #ddd;
  margin: 0;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn {
  margin: 20px 0;
  background-color: orange;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#footer {
  background-color: #ddd;
  text-align: end;
  padding: 20px;
}

#footer ul,
li,
a,
p {
  margin: 0;
}

#footer p {
  padding: 10px 0;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 20px;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

@media all and (max-width: 480px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
  }

  #header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero {
    margin-bottom: 0px;
  }
  .feature img {
    display: none;
  }

  #page-wraper {
    margin-top: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #video {
    max-width: 300px;
  }

  #pricing {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
  }
  .card {
    width: 50%;
  }

  #footer {
    width: 100%;
  }
}
